@media only screen and (max-width: 630px){

    .contenido-principal{
        padding: 1em;
    }

    .contenido-principal-textos{
        width: 100%;
    }

    .foto-principal{
        width: 50%;
    }

    .contenedor-box ul{
       flex-wrap: wrap;
    }

    .box-skills-hobbies{
        width: 30%;
        margin: 0 .5em 1em 
    }

    .contenedor-formaciones ul{
        flex-direction: column;
        text-align: center;
    }

    .listas-formaciones, .info-contacto{
        width: 100%;
    }

    .listas-formaciones img{
        width: 60%;
    }

    .contenedor-proyectos{
        flex-direction: column;
    }

    .imagen-proyectos{
        width: 100%;
        margin-bottom: 1em;
    }

    .info-proyectos{
        width: 100%;
        margin: 0;
    }
    .botones-proyectos{
        display: flex;
        gap: 1em;
    }

    .imagen-contacto{
        display: none;
    }

    .listas{
        display: none;
    }
   .contenido-principal{
    flex-direction: column-reverse;
   }
   .redes ul{
    font-weight: bold;
   }

   .boton-formulario{
    width: 50%;
   }

   .texto-descriptivo h2{
    font-size: 2.2em;
}

    .texto-descriptivo p{
        font-size: 1em;
    }

    .info-contacto{
        padding: 0;
    }

    video{
        width: 100%;
    }
}

@media (min-width: 630px) and (max-width: 883px){
    header{
        flex-direction: column;
        gap: 1em;
    }

    .contenedor-box ul{
        flex-wrap: wrap;
     }
 
     .box-skills-hobbies{
         width: 30%;
         margin: 0 .5em 1em 
     }
 
     .contenedor-formaciones ul{
         flex-direction: column;
         text-align: center;
     }

     .boton-formulario{
        width: 50%;
     }
}

@media (max-width:903px) {
    header{
        flex-direction: column;
        gap: 1em;
    }

    .informacion-personal p{
        width: 100%;
    }
}
